@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

/* header{
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(4, 87, 169);
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  padding: 0 100px;
}

header .link{
  color: #fff;
}

.card-body{
  width: 250px;
  height: 300px;
  padding: 20px;
  border: 1px solid black;
  
}

.card-body img{
  width: 100%;
  
}

.home-body{
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
}

button{
  border: none;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
  border: 1px solid black;
}

.cart{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.demo{
  padding: 50px;
} */


.nav{
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(4, 87, 169);
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  padding: 0 100px;
}

.link{
  color: #fff;
}